extends /layouts/default


block content
    p New page content


block pagehead
    - var breadcrumbs = [{"name": "Home", "href":"/"}, {"name": "New", "href":"/new/"}];
    +pagehead("New", breadcrumbs)

